<!DOCTYPE html>
    <html>
        <head>
            <meta charset = "UTF-8">
            <link rel="stylesheet" href="css/stylesheet.css">
            <title> Web </title>
        </head>
            <body>
                <div class="row">
                    <div class="col-lg-4"></div>
                        <div class="col-lg-4">
                            <h1>You searched for: <%= data.userQuery%></h1>
                            <% if(data.loggedIn){} %>
                                  <h2> You are logg in as: <%= data.username %></h2>
                                <% } %>
                            <ul>
                                <% data.searchResults.forEach(result=>{ %>
                                    <li> <%= result %> </li>
                                <% }); %>
                                })
                            </ul>
                        </div>
                </div>
                <script src="app16.js"></script>
            </body>
    </html>